<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net45" />
  <package id="PetaPoco" version="5.1.179" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.56" targetFramework="net45" />
</packages>